* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-weight: lighter;
    color: white;
}

header {
    background-color: rgb(37,37,38);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    font-size: 20pt;
    display: flex;
}

.nav {
    outline: 1px solid rgb(30,30,30);
    display: inline-block;
    height: 50px;
    align-content: center;
    padding: 0px 20px;
    font-weight: lighter;
    text-decoration: none;
}

.nav:hover{
    transform: translateY(3px);
    box-shadow: 0px -5px 10px 0px #000000;
    cursor: pointer;
}

.nav:active{
    transform: none;
    box-shadow: inset 0px 0px 5px 0px #000000;
}

#A {
    background-color: rgb(30,30,30);
    font-weight: bold;
}

#B {
    background-color: rgb(60,60,60);
}

#C {
    background-color: rgb(50,50,51);
}

#D {
    background-color: rgb(37,37,38);
}

body {
    background-color: rgb(30,30,30);
    position: relative;
    top: 50px;
}

#main {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 1%;
}

.title{
    align-content: center;
    padding: 3px 0px 0px;
    margin: 3px 0px 0px;
}

.preview {
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin: 5%;
    border-radius: 8px;
    background-color: rgb(60, 60, 60);
    transition: all 1s ease;
    text-shadow: 1px 1px 3px #000000;
}

.previewImg {
    position: relative;
    aspect-ratio: 4 / 3;
    border-radius: 5px;
    background-color: rgb(109, 109, 109);
    transition: all 1s ease;
}

.preview:hover{
    transform-origin: center;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px -2px #000000;
    
    cursor: pointer;
}

.previewImg:hover{
    transform: translateY(-1px);
    box-shadow: 0px 3px 5px 0px #000000;
}

.previewImg:active{
    transition: all 80ms linear;
    transform: translateY(0px);
    box-shadow: none;
}




